In [29]:
#Lab 2 works
import pandas as pd
import numpy as np
#1.1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
print('1.1.')
panda_array=pd.Series([1.1,3.8,12,3.44])
print(panda_array)
print('\n')

#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.
print('2.')
panda_array=pd.Series([2.5,7,6.4,9.6])
print('Orignial panda series:')
print(panda_array,'\n')
series_to_list=panda_array.tolist()
print('Panda series to python list:')
print(series_to_list)
print('\n')

#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
print('3.')
series1=pd.Series([2, 4, 6, 8, 10])
series2=pd.Series([1, 3, 5, 7, 9])
addition=series1+series2
subtract=series1-series2
multiply=series1*series2
divide=series1/series2
print('Addition:')
print(addition,'\n')
print('Subtraction:')
print(subtract,'\n')
print('Multiplication:')
print(multiply,'\n')
print('Division:')
print(divide)
print('\n\n')

#4. Write a Pandas program to compare the elements of the two Pandas Series.
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
print('4.')
series1=pd.Series([2, 4, 6, 8, 10])
series2=pd.Series([1, 3, 5, 7, 10])
compare_equal=series1==series2
compare_greater=series1>series2
print('Are the each element in two series equal to each other? ')
print(compare_equal,'\n')
print('Are the elements in series1 bigger than the elements in series2? ')
print(compare_greater)
print('\n\n')   

#5. Write a Pandas program to convert a dictionary to a Pandas series.
# Sample Series:
# Original dictionary:
# {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
# Converted series:
# a    100
# b    200
# c    300
# d    400
# e    800
# dtype: int64
print('5.')
original_dict={'Mak': 99, 'Junp': 11, 'Yuk': 11, 'Sad': 91, 'PT': 89}
print('Original dictionary:')
print(original_dict)
converted_series=pd.Series(original_dict)
print('Converted series:')
print(converted_series)
print('\n\n')

#6. Write a Pandas program to convert a NumPy array to a Pandas series.
# Sample Series:
#   NumPy array:
# [10 20 30 40 50]
# Converted Pandas series:
# 0    10
# 1    20
# 2    30
# 3    40
# 4    50
# dtype: int64
print('6.')
array=np.array([10,20,30,40,50])
print('Original array:')
print(array,'\n')
converted_array=pd.Series(array)
print('Converted array')
print(converted_array)
print('\n')

# 7. Write a Pandas program to change the data type of given a column or a Series.
# Sample Series:
#     Original Data Series:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# dtype: object
# Change the said data type to numeric:
# 0    100.00
# 1    200.00
# 2       NaN
# 3    300.12
# 4    400.00
# dtype: float64
print('7.')
series=pd.Series([1,2,'March_fifth',4,5,'word',7])
print('Original series: ')
print(series,'\n')
different_data_type=pd.to_numeric(series,errors='coerce')
print('Converted data type:')
print(different_data_type,'\n\n')

# 8. Write a Pandas program to convert the first column of a DataFrame as a Series.
# Original DataFrame
#    col1  col2  col3
# 0     1     4     7
# 1     2     5     5
# 2     3     6     8
# 3     4     9    12
# 4     7     5     1
# 5    11     0    11
print('8.')
original_data_frame=pd.DataFrame({
   'col1':[1,2,3,4,5,],
   'col2':[8,9,10,11,12],
   'col3':[10,20,30,40,50]
})
print('Original data frame: \n',original_data_frame,'\n')
first_column=original_data_frame.iloc[0:,0]
print('First column:')
print(first_column,'\n\n')

# 9. Write a Pandas program to convert a given Series to an array.
# Sample Output:
# Original Data Series:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# dtype: object
# Series to an array
# ['100' '200' 'python' '300.12' '400']
# <class 'numpy.ndarray'>
print('9.')
series=pd.Series([100,200,'python',300.12,400])
print('Original series: ')
print(series,'\n')
array=series.values
print('Converted to array:')
print(array)

# 1.Write a Pandas program to create a dataframe from a dictionary and display it.
# Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
# Expected Output:
#     X   Y   Z
# 0  78  84  86
# 1  85  94  97
# 2  96  89  96
# 3  80  83  72
print('10.')
original_dict={'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
print('Original dictionary:')
print(original_dict,'\n')
frame=pd.DataFrame(original_dict)
print('Converted to dataframe:')
print(frame,"\n\n")

# 2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Expected Output:
#    attempts       name qualify  score
# a         1  Anastasia     yes   12.5
# b         3       Dima      no    9.0
# ....
# i         2      Kevin      no    8.0
# j         1      Jonas     yes   19.0
print('11.')
exam_data = {'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data_frame=pd.DataFrame(exam_data,index=labels)
print(exam_data_frame,'\n\n')

# 3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Expected Output:
#   Summary of the basic information about this DataFrame and its data:
# <class 'pandas.core.frame.DataFrame'>
# Index: 10 entries, a to j
# Data columns (total 4 columns):
# ....
# dtypes: float64(1), int64(1), object(2)
# memory usage: 400.0+ bytes
# None
print('12.')
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data_frame=pd.DataFrame(exam_data,index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(exam_data_frame)
print(exam_data_frame.info(),'\n\n')

# 4. Write a Pandas program to get the first 3 rows of a given DataFrame.
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Expected Output:
# First three rows of the data frame:
#    attempts       name qualify  score
# a         1  Anastasia     yes   12.5
# b         3       Dima      no    9.0
# c         2  Katherine     yes   16.5
print('13.')
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print('First three rows of the data frame:')
exam_data_frame = pd.DataFrame(exam_data, index=labels)
print(exam_data_frame.head(3),'\n\n')

# 5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Expected Output:
# Select specific columns:
#         name  score
# a  Anastasia   12.5
# b       Dima    9.0
# c  Katherine   16.5
# ...
# h      Laura    NaN
# i      Kevin    8.0
# j      Jonas   19.0
print('14.')
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data_frame = pd.DataFrame(exam_data, index=labels)
selected_columns=exam_data_frame[['name','score']]
print('Selected columns shown below:')
print(selected_columns,'\n\n')

# 6. Write a Pandas program to select the specified columns and rows from a given data frame.
# Sample Python dictionary data and list labels:
# Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Expected Output:
# Select specific columns and rows:
#    score qualify
# b    9.0      no
# d    NaN      no
# f   20.0     yes
# g   14.5     yes
print('15.')
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data_frame = pd.DataFrame(exam_data, index=labels)
selected_data = exam_data_frame.loc[['b', 'd', 'f', 'g'], ['score','qualify']]
print('Select specific columns and rows:')
print(selected_data,'\n\n')

# 7. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Expected Output:
# Number of attempts in the examination is greater than 2:
#       name  score  attempts qualify
# b     Dima    9.0         3      no
# d    James    NaN         3      no
# f  Michael   20.0         3     yes
print('16.')
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print('Number of attempts in the examination is greater than 2:')
exam_data_frame = pd.DataFrame(exam_data, index=labels)
selected_data= exam_data_frame[exam_data_frame['attempts']>2]
print(selected_data,'\n\n')

# 8. Write a Pandas program to count the number of rows and columns of a DataFrame.
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Expected Output:
# Number of Rows: 10
# Number of Columns: 4
print('17.')
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data_frame = pd.DataFrame(exam_data, index=labels)
print('Number of Rows:',exam_data_frame.shape[0])
print('Number of Columns:',exam_data_frame.shape[1],'\n\n')

# 9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Expected Output:
# Rows where score is missing:
#    attempts   name qualify  score
# d         3  James      no    NaN
# h         1  Laura      no    NaN
print('18.')
exam_data = {'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data_frame = pd.DataFrame(exam_data, index=labels)
print('Rows where score is missing:')
print(exam_data_frame[exam_data_frame['score'].isnull()],'\n\n')

# 10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).
# Sample Python dictionary data and list labels:
# exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
# 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
# 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print('19.')
exam_data = {'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data_frame = pd.DataFrame(exam_data, index=labels)
print('Rows where the score is between 15 and 20:')
print(exam_data_frame[(exam_data_frame['score'] >= 15) & (exam_data_frame['score'] <= 20)])

1.1.
0     1.10
1     3.80
2    12.00
3     3.44
dtype: float64


2.
Orignial panda series:
0    2.5
1    7.0
2    6.4
3    9.6
dtype: float64

Panda series to python list:
[2.5, 7.0, 6.4, 9.6]


3.
Addition:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication:
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64



4.
Are the each element in two series equal to each other?
0    False
1    False
2    False
3    False
4     True
dtype: bool

Are the elements in series1 bigger than the elements in series2?
0     True
1     True
2     True
3     True
4    False
dtype: bool



5.
Original dictionary:
{'Mak': 99, 'Junp': 11, 'Yuk': 11, 'Sad': 91, 'PT': 89}
Converted series:
Mak     99
Junp    11
Yuk     11
Sad     91
PT      89
dtype: int64



6.
Original array:
[10 20 30 40 50]

Converted array
0    10
1    20
2    30
3    40
4    50
dtype: int32


7.
Original series:
0              1
1              2
2    March_fifth
3              4
4              5
5           word
6              7
dtype: object

Converted data type:
0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
5    NaN
6    7.0
dtype: float64


8.
Original data frame:
    col1  col2  col3
0     1     8    10
1     2     9    20
2     3    10    30
3     4    11    40
4     5    12    50

First column:
0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64


9.
Original series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Converted to array:
[100 200 'python' 300.12 400]
10.
Original dictionary:
{'X': [78, 85, 96, 80, 86], 'Y': [84, 94, 89, 83, 86], 'Z': [86, 97, 96, 72, 83]}

Converted to dataframe:
    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83


11.
   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0


12.
Summary of the basic information about this DataFrame and its data:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None


13.
First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes


14.
Selected columns shown below:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0


15.
Select specific columns and rows:
   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes


16.
Number of attempts in the examination is greater than 2:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes


17.
Number of Rows: 10
Number of Columns: 4


18.
Rows where score is missing:
   attempts   name qualify  score
d         3  James      no    NaN
h         1  Laura      no    NaN


19.
Rows where the score is between 15 and 20:
   attempts       name qualify  score
c         2  Katherine     yes   16.5
f         3    Michael     yes   20.0
j         1      Jonas     yes   19.0