In [44]:
import pandas as pd
# 1. Write a Pandas program to print a concise summary of the dataset (titanic.csv).
# 2. Write a Pandas program to extract the column labels, shape and data types of the dataset (titanic.csv).
# 3. Write a Pandas program to create a Pivot table with multiple indexes from the data set of titanic.csv.
# 4. Write a Pandas program to create a Pivot table and find survival rate by gender on various classes.
# 5. Write a Pandas program to create a Pivot table and find survival rate by gender.
# 6. Write a Pandas program to create a Pivot table and find survival rate by gender, age wise of various classes.
# 7. Write a Pandas program to partition each of the passengers into four categories based on their age.
# Note: Age categories (0, 10), (10, 30), (30, 60), (60, 80)
# 8. Write a Pandas program to create a Pivot table and count survival by gender, categories wise age of various classes.
# Note: Age categories (0, 10), (10, 30), (30, 60), (60, 80)
# 9. Write a Pandas program to create a Pivot table and find survival rate by gender, age of the different categories of various classes.
# 10. Write a Pandas program to create a Pivot table and find survival rate by gender, age of the different categories of various classes. Add the fare as a dimension of columns and partition fare column into 2 categories based on the values present in fare columns
print('1:')
data=pd.read_csv('titanic.csv')
summary=data.info()
print(summary,'\n\n')


print('2:')
data=pd.read_csv('titanic.csv')
column_label=data.columns.tolist()
shape=data.shape
data_types=data.dtypes
print('Column Labels:',column_label,'\n')
print('Shape:',shape,'\n')
print('Data types:')
print(data_types,'\n\n')

print('3:')
pivot_table = data.pivot_table('survived', index=['sex', 'pclass'])
print(pivot_table)

print('4:')
data = pd.read_csv('titanic.csv')
pivot_table = data.pivot_table('survived', index='sex', columns='pclass')
print(pivot_table, '\n\n')

print('5:')
data=pd.read_csv('titanic.csv')
pivot_table=data.pivot_table('survived',index='sex')
print(pivot_table, '\n\n')

print('6:')
data=pd.read_csv('titanic.csv')
pivot_table = data.pivot_table('survived', index=['sex', pd.cut(data['age'], bins=[0, 18, 25, 40, 60, 100], right=False)], columns='pclass', observed=False)
print(pivot_table, '\n\n')

print('7:')
data = pd.read_csv('titanic.csv')
age= pd.cut(data['age'], bins=[0, 10, 30, 60, 80], labels=['0-10', '10-30', '30-60', '60-80'])
data['age_category'] = age
print(data[['age', 'age_category']],'\n\n')

print('8:')
data = pd.read_csv('titanic.csv')
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-10', '10-30', '30-60', '60-80']
data['age_category'] = pd.cut(data['age'], bins=age_bins, labels=age_labels)
pivot_table = data.pivot_table(index=['sex', 'age_category'], columns='pclass', values='survived', aggfunc='count', observed=False)
print(pivot_table,'\n\n')

print('9:')
data = pd.read_csv('titanic.csv')
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-10', '10-30', '30-60', '60-80']
data['age_category'] = pd.cut(data['age'], bins=age_bins, labels=age_labels)
pivot_table = data.pivot_table(index=['sex', 'age_category'], columns='pclass', values='survived', aggfunc='mean', observed=False)
print(pivot_table,'\n\n')

print('10:')
data = pd.read_csv('titanic.csv')
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-10', '10-30', '30-60', '60-80']
data['age_category'] = pd.cut(data['age'], bins=age_bins, labels=age_labels)
fare_bins = [data['fare'].min(), data['fare'].mean(), data['fare'].max()]
fare_labels = ['Low', 'High']
data['fare_category'] = pd.cut(data['fare'], bins=fare_bins, labels=fare_labels)
pivot_table = data.pivot_table(index=['sex', 'age_category'], columns=['pclass', 'fare_category'], values='survived', aggfunc='mean', observed=False)
print(pivot_table)

1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB
None


2:
Column Labels: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone', 'Unnamed: 15']

Shape: (891, 16)

Data types:
survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object


3:
               survived
sex    pclass
female 1       0.968085
       2       0.921053
       3       0.500000
male   1       0.368852
       2       0.157407
       3       0.135447
4:
pclass         1         2         3
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447


5:
        survived
sex
female  0.742038
male    0.188908


6:
pclass                   1         2         3
sex    age
female [0, 18)    0.875000  1.000000  0.542857
       [18, 25)   1.000000  0.933333  0.500000
       [25, 40)   0.966667  0.903226  0.448276
       [40, 60)   0.960000  0.875000  0.000000
       [60, 100)  1.000000       NaN  1.000000
male   [0, 18)    1.000000  0.818182  0.232558
       [18, 25)   0.125000  0.050000  0.106667
       [25, 40)   0.555556  0.063830  0.180000
       [40, 60)   0.333333  0.058824  0.064516
       [60, 100)  0.142857  0.250000  0.000000


7:
      age age_category
0    22.0        10-30
1    38.0        30-60
2    26.0        10-30
3    35.0        30-60
4    35.0        30-60
..    ...          ...
886  27.0        10-30
887  19.0        10-30
888   NaN          NaN
889  26.0        10-30
890  32.0        30-60

[891 rows x 2 columns]


8:
pclass                1   2    3
sex    age_category
female 0-10           1   8   22
       10-30         34  36   57
       30-60         48  30   22
       60-80          2   0    1
male   0-10           2   9   22
       10-30         24  43  151
       30-60         63  44   76
       60-80         12   3    4


9:
pclass                      1         2         3
sex    age_category
female 0-10          0.000000  1.000000  0.500000
       10-30         0.970588  0.916667  0.508772
       30-60         0.979167  0.900000  0.272727
       60-80         1.000000       NaN  1.000000
male   0-10          1.000000  1.000000  0.363636
       10-30         0.458333  0.023256  0.139073
       30-60         0.412698  0.090909  0.118421
       60-80         0.083333  0.333333  0.000000


10:
pclass                      1                   2              3
fare_category             Low      High       Low High       Low      High
sex    age_category
female 0-10               NaN  0.000000  1.000000  1.0  0.523810  0.000000
       10-30         1.000000  0.967742  0.911765  1.0  0.527273  0.000000
       30-60         0.800000  1.000000  0.888889  1.0  0.315789  0.000000
       60-80              NaN  1.000000       NaN  NaN  1.000000       NaN
male   0-10               NaN  1.000000  1.000000  1.0  0.470588  0.000000
       10-30         0.600000  0.421053  0.027778  0.0  0.133803  0.142857
       30-60         0.521739  0.378378  0.097561  0.0  0.097222  1.000000
       60-80         0.200000  0.000000  0.333333  NaN  0.000000       NaN