In [16]:
#Lab# 3
import pandas as pd
import numpy as np

# 1. Write a Pandas program to join the two given dataframes along rows and assign all data.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201
print('1:')
data1=pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})
data2=pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher','Carla Williamson','Dante Morse','Kaiser William','Madeeha Preston'],
    'marks': [201,200,198,219,201]
})
data3 = pd.concat([data1, data2])
print(data3,'\n\n')

# 2. Write a Pandas program to join the two given dataframes along columns and assign all data.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201
print('2:')
data1=pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})
data2=pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher','Carla Williamson','Dante Morse','Kaiser William','Madeeha Preston'],
    'marks': [201,200,198,219,201]
})
data3=pd.concat([data1, data2],axis=1)
print(data3,'\n\n')

# 3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.
# Test Data:
# student_data1
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# New Row(s)
# student_id                  S6
# name          Scarlette Fisher
# marks                      205
# dtype: object

print('3:')
data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})
row = pd.DataFrame({
    'student_id': ['S6'],
    'name': ['Scarlette Fisher'],
    'marks':[205]
})
data2 = pd.concat([data1, row])#It says the append method has been removed from newer version of pandas
#so I had to use concat
print(data2, '\n\n')

# 4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
# Test Data:
#  student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# Dictionary:
# student_id                  S6
# name          Scarlette Fisher
# marks                      205
# dtype: object
print('4:')
data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})
data2={
    'student_id': 'S6',
    'name': 'Scarlette Fisher',
    'marks': 205
}
data3=pd.DataFrame([data2])
data4=pd.concat([data1,data3])
print(data4, '\n\n')

# 5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201
# exam_data:
#    student_id  exam_id
# 0          S1       23
# 1          S2       45
# 2          S3       12
# 3          S4       67
# 4          S5       21
# 5          S7       55
# 6          S8       33
# 7          S9       14
# 8         S10       56
# 9         S11       83
# 10        S12       88
# 11        S13       12
print('5:')
data1=pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})
data2=pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher','Carla Williamson','Dante Morse','Kaiser William','Madeeha Preston'],
    'marks': [201,200,198,219,201]
})
data3=pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
})
data4=pd.concat([data1,data2])
data5=pd.merge(data3,data4,on='student_id')
print(data5,'\n\n')

# 6. Write a Pandas program to join the two dataframes using the common column of both dataframes.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201
print('6:')
data1=pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})
data2=pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher','Carla Williamson','Dante Morse','Kaiser William','Madeeha Preston'],
    'marks': [201,200,198,219,201]
})
data3=pd.merge(data1,data2,on='marks')
print(data3,'\n\n')

# 7. Write a Pandas program to join the two dataframes with matching records from both sides where available.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201
print('7:')
data1=pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})
data2=pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher','Carla Williamson','Dante Morse','Kaiser William','Madeeha Preston'],
    'marks': [201,200,198,219,201]
})
data3=pd.merge(data1,data2,on='student_id',how='outer',suffixes=('_data1','_data2'))
print(data3,'\n\n')

# 8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3
print('8:')
data1 = pd.DataFrame ({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})
data3=pd.merge(data1,data2,on=['key1','key2'],how='left')
print(data3,'\n\n')

# 9. Write a Pandas program to join two dataframes using keys from right dataframe only.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3
print('9:')
data1 = pd.DataFrame ({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})
data3=pd.merge(data1,data2,on=['key1','key2'],how='right')
print(data3,'\n\n')

# 10. Write a Pandas program to merge two given datasets using multiple join keys.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3
print('10:')
data1 = pd.DataFrame ({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})
data3=pd.merge(data1,data2,on=['key1','key2'])
print(data3,'\n\n')

# 11. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.
print('11:')
data1 = pd.Series(['K0', 'K0', 'K1', 'K2'])
data2 = pd.Series(['K0', 'K1', 'K0', 'K1'])
data3 = pd.Series(['P0', 'P1', 'P2', 'P3'])
data4 = pd.Series(['Q0', 'Q1', 'Q2', 'Q3'])
data5=pd.DataFrame({'New_data1':data1,'New_data2':data2,'New_data3':data3,'New_data4':data4})
print(data5,'\n\n')

# 12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3
print('12:')
data1 = pd.DataFrame ({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})
data3=pd.merge(data1,data2,on=['key1','key2'])
print(data3,'\n\n')

# 13. Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.
# Test Data:
# data1:
#      A   B
# K0  A0  B0
# K1  A1  B1
# K2  A2  B2
# data2:
#      C   D
# K0  C0  D0
# K2  C2  D2
# K3  C3  D3
print('13:')
data1 = pd.DataFrame ({'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']})
data2 = pd.DataFrame ({'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']})
data3=pd.concat([data1,data2],axis=1)
print(data3,'\n\n')

# 14. Write a Pandas program to merge two given dataframes with different columns.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3
print('14:')
data1=pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})
data2=pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']})
data3=pd.merge(data1,data2,on=['key1','key2'],how='outer')
print(data3,'\n\n')

# 15. Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
# Test Data:
# Original DataFrames:
#      A  B
# 0  NaN  3
# 1  0.0  4
# 2  NaN  5
#   A    B
# 0  1  3.0
# 1  1  NaN
# 2  3  3.0

print('15:')
data1=pd.DataFrame({'A': [np.nan, 0.0, np.nan],
    'B': [3, 4, 5]})
data2=pd.DataFrame({
    'A': [1, 1, 3],
    'B': [3.0, np.nan, 3.0]
})
data3=data1.combine_first(data2)
print(data3,'\n\n')

1:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201


2:
  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201


3:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S6  Scarlette Fisher    205


4:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S6  Scarlette Fisher    205


5:
  student_id  exam_id              name  marks
0         S1       23  Danniella Fenton    200
1         S2       45      Ryder Storey    210
2         S3       12      Bryce Jensen    190
3         S4       67         Ed Bernal    222
4         S4       67  Scarlette Fisher    201
5         S5       21       Kwame Morin    199
6         S5       21  Carla Williamson    200
7         S7       55    Kaiser William    219
8         S8       33   Madeeha Preston    201


6:
  student_id_x            name_x  marks student_id_y            name_y
0           S1  Danniella Fenton    200           S5  Carla Williamson


7:
  student_id        name_data1  marks_data1        name_data2  marks_data2
0         S1  Danniella Fenton        200.0               NaN          NaN
1         S2      Ryder Storey        210.0               NaN          NaN
2         S3      Bryce Jensen        190.0               NaN          NaN
3         S4         Ed Bernal        222.0  Scarlette Fisher        201.0
4         S5       Kwame Morin        199.0  Carla Williamson        200.0
5         S6               NaN          NaN       Dante Morse        198.0
6         S7               NaN          NaN    Kaiser William        219.0
7         S8               NaN          NaN   Madeeha Preston        201.0


8:
  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN


9:
  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3


10:
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2


11:
  New_data1 New_data2 New_data3 New_data4
0        K0        K0        P0        Q0
1        K0        K1        P1        Q1
2        K1        K0        P2        Q2
3        K2        K1        P3        Q3


12:
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2


13:
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C2  D2
2  A2  B2  C3  D3


14:
  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0   R0   S0
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2   R1   S1
3   K1   K0   P2   Q2   R2   S2
4   K2   K0  NaN  NaN   R3   S3
5   K2   K1   P3   Q3  NaN  NaN


15:
     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0